<div class="sessions-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 sessions-new-container">
        <h2 class="text-center">ログイン</h2>
        <%= form_for :session, url: login_path do |f| %>
          <div class="form-group">
            <%= f.label :email, class: "" %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :authorization_code, class: "" %>
            <%= f.text_field :authorization_code, class: "form-control" %>
          </div>
          <%= f.submit "ログイン", class: "btn btn-block active" %>
        <% end %>
        <%= link_to "ユーザー登録はこちら", new_user_path %>
      </div>
    </div>
  </div>
</div>
